include css.pug
style(type='text/css' media='print').
 @page{
    margin-top: 1.5cm;
    margin-left: 2.5cm;
    margin-right: 2cm;
  }
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    br
    center.head
     b
      | บันทึกตกลงซื้อ
     table
      tr
        td(style='width: 65%;')
        td.left เอกสารสารส่วนที่ 3 แผ่นที่ 1
      tr
        td เลขที่ PH600612/2560
        td(style='width: 35%;') #{hospname}
      tr
        td
        td.left อำเภอเขื่องใน จังหวัดอุบลราชธานี
    .center(style='margin-left: 20%;') วันที่ 25 กรกฏาคม 2560
    br
    .fontspace 
    .left บันทึกนี้ ทำขึ้นระหว่างจังหวัดอุบลราชธานี โดย นางสาวศิริรัตน์ บุญจรัส ตำแหน่ง เภสัชกร ชำนาญการพิเศษ ทำหน้าที่หัวหน้าเจ้าหน้าที่พัสดุ ตามคำสั่งจังหหวัดอุบลราชธานี ที่ 5058/2559 ลงวันที่ 15 พฤษจิกายน 2559 ผู้ซื้อกับ โมเดิร์ล ฟาร์มา จำกัด 197/1 หมู่ 1 ถ.สุขสัวสดิ์ ต.ปากคลองบางปลากด อ.พระสมุทรเจดีย์ จ.สมุทรปราการ 10290 โดย สุกัลยา บุญเฉลียว ผู้ขาย ซึ่งตกลงกันดังเงื่อนไขต่อไปนี้
    br
    .fontspace
    .left ข้อ 1 ผู้ตกลงซื้อและผู้ขายตกลงขาย เวชภัณฑ์ยา ตามรายละเอียดต่อไปนี้
    table
     thead
      tr
       td(colspan='5').tbfooter
     tbody
      tr
       td 1
       td VITAMIN C 100 MG 1000
       td 100x1000'S
       td ราคาต่อหน่วย 146.50 บาท
       td รวม 14,650.00 บาท
      tfooter
       tr
        td(colspan='5').tbfooter
    .fontspace
    .left รวม 1 รายการ เป็นนเงินทั้งสิ้น 14,650.00 บาท (หนึ่งหมื่นสี่พันหกร้อยห้าสิบบาทถ้วน).
    br
    .fontspace
    .left ข้อ 2 ผู้ขายรับว่าจะส่งสิ่งของที่ถูกต้องและครบถ้วนตามข้อ 1 ส่งให้ผู้ซื้อ ณ โรงพยาบาลเขื่องใน ภายในวันที่ 25 กันยายน 2560
    .fontspace
    .left ข้อ 3 เมื่อคณะกรรมการได้ทำการตรวจรับแล้ว หากปรากฏว่ามีสิ่งใดไม่ถูกต้องตามจำนวนคุณภาพ หรือปริมาณ ผู้ขายจะต้องจัดหาสิ่งของเพื่อมาเพิ่มเติมหรือเปลี่ยนแปลงให้แก่ผู้ซื้อตามที่คณะกรรมการกำหนด
    .fontspace
    .left ข้อ 4 ถ้าผู้ขายไม่สามารถส่งสิ่งของให้แก่ผู้ซื้อภายในกำหนดเวลาตามที่ระบุไว้ในข้อ 2 ผู้ขายจะยินยอมเสียค่าปรับให้แก่ผู้ซื้อเป็นเงินร้อยละ 0.20 ของราคาสิ่งของที่ไม่สามารถจัดส่งให้ได้ต่อหนึ่งวัน แต่ไม่ต่ำกว่าวันละ 100 บาท นับตั้งแต่วันสิ้นกำหนดเวลาการส่งมอบเป็นต้นไป
    .fontspace
    .left ข้อ 5 ในกรณีที่คณะกรรมการพิจารณาเห็นว่ามีความล่าช้าในการจัดส่งสิ่งของนั้น จะเป็นผลเสียหายแก่ทางราชการ ผู้ซื้อสงวนไว้ซึ่งสิทธิ์ที่จะบอกเลิกกการซื้อสิ่งของในรายการที่ไม่สามารถจัดส่งให้ได้ และการบอกเลิกการซื้อนี้จะไม่มีผลทำให้ผู้ขายพ้นจากความรับผิดชอบซึ่งได้ดำเนินการไว้แล้วตามข้อ 4
    .fontspace
    .left ข้อ 6 บันทึกนี้ ทำขึ้นสองฉบับข้อความตรงกัน ผู้ขายและผู้ซื้อได้อ่านเข้าใจข้อความโดยละเอียดตลอดแล้วจึงได้ลงชื่อไว้เป็นสำคัญต่อหน้าพยานและได้ยึดถือไว้ฝ่ายละหนึ่งฉบับ
    br
    br
    table(style='width: 40%; float: right;')
     tr
      td.center (ลงชื่อ)........................................ผู้สั่งซื้อ
     tr
      td.center (นางสาวศิริรัตน์ บุญจรัส)
     tr
      td.center เภสัชกร ชำนาญการพิเศษ
     tr
       td.center (ลงชื่อ)........................................ผู้ขาย
     tr
       td.center (สุกัลยา บุญเฉลียว)
     tr
      td.center (ลงชื่อ)........................................พยาน
     tr
      td.center (นางสาวรุ่งรัตน์ ใยบัว)
     tr
      td.center (ลงชื่อ)........................................พยาน
     tr
      td.center (นางสาวจารุวรรณ แสวงบุญ)