//- -var APIURL = '/api/purchasing/';
-var APIURL = '/';
link(rel='stylesheet', type='text/css', href=APIURL+'reset.css')
link(rel='stylesheet', type='text/css', href=APIURL+'mystyle2.css')
link(rel='stylesheet', type='text/css', href=APIURL+'print2.css' media='print')