include css.pug
include purchasing12.pug
hr.hideprint
.break
include purchasing13.pug
hr.hideprint
.break
include purchasing14.pug
hr.hideprint
.break
include purchasing15.pug
hr.hideprint
.break
include purchasing16.pug