include css.pug
style.
    @media print {
        body {
            margin: -20px;
        }
    }
- for(var i = 0 ; i < porder.length ; i++)
    include purchasing12Singburi.pug
    hr.hideprint
    .break
    include purchasing13Singburi.pug
    hr.hideprint
    .break
    include purchasing16_3.pug
    .break