include css.pug
style.
    @media print {
        body {
            margin: -20px;
        }
    }
- for(var i of purchaingOrders)
    include purchasing12_1.pug
    hr.hideprint
    .break
    include purchasing16_4.pug
    hr.hideprint
    .break
    include purchasing13_4.pug
    hr.hideprint