include css.pug
style.
    @media print {
        body {
            margin: -21.1px;
        }
    }
include purchasing12Singburi.pug
hr.hideprint
.break
include purchasing13Singburi.pug
hr.hideprint
.break
//- include purchasing14Singburi.pug
//- hr.hideprint
//- .break
include purchasing16Singburi.pug