head
 title report
 meta(charset="UTF-8")
 meta(http-equiv="X-UA-Compatible", content="IE=edge")
 meta(name="viewport",content="width=device-width, initial-scale=1")
 meta(name="description",content="")
 meta(name="author",content="")
 link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
 link(rel="stylesheet",href="https://docs.flowaccount.com//Content/invoice/print-template-1.css?v=1")
 link(rel="stylesheet",href="/default.css")
