include ../css.pug
style.
    @media print {
        body {
            margin: -20px;
        }
    }
- for(var i of header)
    include egp4-1.pug
    hr.hideprint
    .break
    include egp4-2.pug
    hr.hideprint
    .break
    include egp4-3.pug
    hr.hideprint
    .break