include ../css.pug
- for(var i of header)
  include egp1-1.pug
  hr.hideprint
  .break
  include egp1-2.pug
  hr.hideprint
  .break
  include egp1-3.pug
  hr.hideprint
  .break
  include egp5-1.pug
  hr.hideprint
  .break