- var APIURL = '/';
doctype html
html(lang="en")
 include includes/header.pug
 body
  page(size="A4") 
   div.text-center 
    img(src=APIURL+'krut.png', height='113.38582677px')
    p ภาษาไทยเว้ยเห้ย
  
